
<table class="table table-boldered">
  <thead>
    <tr>
      <th>Manufacturer Name</th>
      <th>Website</th>
      <th>Contact Information</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @medicine.medicine_manufacturer.name %>
      </td>
      <td>
        <%= link_to(@medicine.medicine_manufacturer.website, @medicine.medicine_manufacturer.website)%>
      </td>
      <td>
        <%= @medicine.medicine_manufacturer.contact_info %>
      </td>
    </tr>
  </tbody>
</table>
