<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Articles</h1>

      <table class="table table-boldered">
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>

      <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article_path(article) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div> -->



      <div class="article-all container">
        <div class="article-box row">

            <div class="col-md-12">
              <h1>Articles</h1>

              <table class="table table-boldered">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Post time</th>
                  </tr>
                </thead>

              <tbody>
                  <% @articles.each do |article| %>
                    <tr>
                      <td><%= link_to article.title, article_path(article) %></td>
                      <td class="article-user row"><span> <%= article.author %></span></td>
                      <td><span> <%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
      </div>
