# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 266932c787f56f2281c47b6a080ebc764fa5974976a9b5bbaace2d951b72b2448dd3f2362a06302ae9fe18bde99557775d067297802f380c0d8fcf39fcc638d1

test:
  secret_key_base: 6b5589feff8ae6702e153af1003e5ff9ff3d36cfc5be521acc6c1cd9f901f73b17e7ea8608e57f68de84176922d598f797efeeba96ebda62aa52f3e97cf9e816

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
