

<table class="table table-boldered">
  <% @apis.each do |api| %>
  <tr>
    <td>
      <%= link_to(api.name, api_path(api)) %>
    </td>
    <td>
      <%= api.number %>
    </td>
    <td>
      <%= api.manufacturer %>
    </td>
  </tr>

  <% end %>
</table>
  <%= will_paginate @apis %>
