<div class="container top-margin">
  <div class="row">

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Website</td>
          <td>Contact information</td>
        </tr>
      </thead>

      <tbody>
        <% @medicine_manufacturers.each do |medicine_manufacturer| %>
        <tr>
          <td>
            <%= medicine_manufacturers.name %>
          </td>
          <td>
            <%= medicine_manufacturers.website %>
          </td>
          <td>
            <%= medicine_manufacturers.contact_info %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @medicine_manufacturers %>

  </div>
</div>
