<table class="table table-boldered">
  <thead>
    <tr>
      <th>Manufacturer Name</th>
      <th>Website</th>
      <th>Contact Information</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= medicine_manufacturer.name %>
      </td>
      <td>
        <%= medicine_manufacturer.website %>
      </td>
      <td>
        <%= medicine_manufacturer.contact_info %>
      </td>
    </tr>
  </tbody>
</table>

<h2> Medicine list </h2>
