<div class="container">

  <!-- 网站简介 -->

  <div class="">
    <div class="row">
      <div class="about-title-box col-xs-10">
        <span class="about-title-e">What is China Pharmabook.</span><br>
        <h1 class="about-title-c">About us</h1>
      </div>
      <div class="col-xs-2 pull-right ">
        <%= link_to("Back to Home", "/", class: "btn btn-sm btn-default") %>
      </div>
    </div>
  </div>



  <p class="about-info">
    Pharmabook is a database of apis, finished medicines which are approved by China FDA. <br>
    You can make a search and find the manufacturer you want. <br><br>
    We also add the manufacturers' contact infomation to the database. <br>
    We think such a database can help you. <br>
    Will let your sourcing procedure be more efficient. <br>
    We hope on this platform, manufacturers, importers, and sourcing service providers can benifit each other. <br>


  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="col-md-12 about-info about-img row">
    <div class="landing-page-eva-style">
      <div class="col-md-4">
        <%= image_tag("about1.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-md-8">
        <h5>Lupeng Liu</h5>
        <p><strong>Wechat：+8613685853953</strong></p>
        <p><strong>Email: lupengliu@gmail.com</strong></p>
        <p>
          A person with 6 years' experience in pharma sourcing. <br>
          Learn coding, and build this website. <br>
          I love life and have a very cute daughter. <br>

        </p>
      </div>
    <!-- </div>
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("about2.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>韵儿爸爸</h5>
        <p><strong>微信：bigdasu</strong></p>
        <p>
          行销+视觉+编程 全栈选手 <br>
          线上德州扑克玩家 爱好各种博弈游戏 <br>
          行动力者 希望每天都成为比昨天更好的自己 <br>
          愿和你一起不断去创造不平凡 <br>
        </p>
      </div>
    </div>
  </div> -->


</div>

</div>
