/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

  .top-margin {
    margin-top: 20px;
  }
  .top-margin60 {
    margin-top: 60px;
  }
  .adminlayout {
    margin-top: 60px;
  }
  .searchboxcenter{
    margin:auto;
  }

  .bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
  }


  //登录注册页面
  .log-page-bg {
    height: 900px;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ooo.0o0.ooo/2017/05/21/592135630adc6.jpg);
  }
  .log-page {
    margin-top: 60px;
  }

  // 个人中心侧边栏nav样式
  .nav-left-style {
    background-color: #f5f5f5;
    margin: 30px auto;
    height: 500px;
  }
