<div class="col-md-12">

  <h2 class="text-center"> User search finished medicine list </h2>

  <table class="table">
      <thead>
        <tr>
          <td>User's email</td>
          <td>Query medicine</td>
          <td>Search Time</td>
        </tr>
      </thead>
      <tbody>
        <% @medsearches.each do |medsearch| %>
        <tr>
          <td><%= medsearch.user_email %></td>
          <td><%= medsearch.query %></td>
          <td><%= medsearch.created_at%></td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @medsearches %>
  </div>
  
</div>
