<footer class="footer-style">
  <div class="container">

    <br>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Pharmabook - Let your sourcing be more efficient.</h5>
        <p class="footer-style-p">A database for China FDA approved medicines, raw materials and pharma manufacturers.<br>
        <br>
        Copyright &copy;2017 Pharmabook - Design by
            <a href="https://www.linkedin.com/in/lupengliu/">Lupeng Liu</a>.<br>
            Contact: <a href="mailto:lupengliu@gmail.com?Subject=Hello%20pharmabook" target="_top">lupengliu@gmail.com</a></p>
      </div>

    </div>
  </div>
</footer>
